{{ define "main" }}
<article class="pb-12 w-4/5 mx-auto">
  <header class="flex items-center justify-between mb-8">
    <a
      href=""
      id="backToHomeBtn"
      class="absolute hidden sm:block hover:-translate-x-5 transition-transform duration-500 ease"
      ><i class="fa-solid fa-chevron-left"></i>&nbsp; {{ i18n "backButtonText" .
      }}</a
    >
    <div class="flex flex-col mx-auto items-center">
      <h2 class="text-center my-10 text-6xl mb-2">{{ .Title }}</h2>
      <span class="opacity-50">{{.Params.readTime}}</span>
      <span class="opacity-50"
        >{{.Date.Day}} {{i18n .Date.Month}} {{.Date.Year}}</span
      >
    </div>
  </header>

  <main class="max-w-[800px] mx-auto px-2 sm:px-4 py-2.5 flex flex-col gap-8">
    {{ .Content }}
    <footer class="text-center opacity-50">
      <span></span>
      <a
        href="https://github.com/Waxer59/Wadev-Blog/tree/main/content/posts/{{ .File.LogicalName }}"
        target="_blank"
        >{{ i18n "editArticleText" . }} &nbsp;<i class="fa-brands fa-github"></i
      ></a>
    </footer>
  </main>
</article>

<script defer>
  const backToHomeBtn = document.querySelector('#backToHomeBtn');
  backToHomeBtn.href = `${window.location.origin}/${
    window.location.pathname.split('/')[1]
  }/`;
</script>
{{ end }}
