{{ define "main" }}
<article class="pb-12 w-4/5 mx-auto">
  <header class="flex items-center justify-between mb-8">
    <a
      href="{{.Site.BaseURL}}"
      class="absolute hidden sm:block hover:-translate-x-5 transition duration-500"
      ><i class="fa-solid fa-chevron-left"></i>&nbsp; Go back</a
    >
    <div class="flex flex-col mx-auto items-center">
      <h2 class="text-center my-10 text-6xl mb-2">{{ .Title }}</h2>
      <span class="opacity-50">{{.Params.readTime}}</span>
    </div>
  </header>

  <main class="max-w-7xl mx-auto px-2 sm:px-4 py-2.5">
    {{ .Content }}
    <footer class="mt-6 text-center opacity-50">
      <span></span>
      <a
        href="https://github.com/Waxer59/Wadev-Blog/tree/main/content/posts/{{ .File.LogicalName }}"
        target="_blank"
        >Did you find a typo? edit the article &nbsp;<i
          class="fa-brands fa-github"></i
      ></a>
    </footer>
  </main>
</article>
{{ end }}
