:root {
  --primary-color: #f1f1f1;
  --secondary-color: #f7f7f7;
}

html.dark:root {
  --primary-color: #222222 !important;
  --secondary-color: #2c2c2c !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

html,
body {
  height: 100vh;
}

blockquote {
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}
blockquote p {
  padding: 25px;
}

p {
  max-width: 800px !important;
  line-height: 28px !important;
  font-size: 18px !important;
  word-break: break-word !important;
}

li {
  list-style: disc;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-size: 40px !important;
  line-height: 50px !important;
}

h2 {
  font-size: 32px !important;
  line-height: 42px !important;
}

h3 {
  font-size: 24px !important;
  line-height: 34px !important;
}

h4 {
  font-size: 20px !important;
  line-height: 22px !important;
}

h5 {
  font-size: 16px !important;
  line-height: 26px !important;
}

h6 {
  font-size: 14px !important;
  line-height: 26px !important;
}

p img {
  margin: 0 auto;
  border-radius: 15px;
}

pre {
  padding: 15px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  overflow: auto !important;
}

.highlight {
  width: 100%;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

code::before {
  background: transparent;
  position: absolute;
  right: 10px;
}

.language-javascript::before {
  background: url(../icons/javascript.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

.language-go::before {
  background: url(../icons/go.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

.language-typescript::before {
  background: url(../icons/typescript.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

.language-rust::before {
  background: url(../icons/rust.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

.language-react::before {
  background: url(../icons/react.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

.language-docker::before {
  background: url(../icons/docker.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

.language-markdown::before {
  background: url(../icons/markdown.png);
  width: 32px;
  height: 32px;
  background-size: cover;
  content: '';
  border-radius: 5px;
  top: -12px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}

article main a:not(:has(img)) {
  opacity: 0.65 !important;
  text-decoration: underline !important;
}