html:root {
  --primary-color: #f1f1f1;
  --secondary-color: #f7f7f7;
}

html.dark:root {
  --primary-color: #1c1c1c;
  --secondary-color: #2c2c2c;
}

html,
body {
  height: 100vh;
}

hr {
  margin: 15px 0;
}

blockquote {
  background-color: #fff6bd;
  border-radius: 5px;
}
blockquote p {
  color: black;
  padding: 25px;
}

p,
pre {
  margin: 32px 0;
}

pre {
  overflow: auto !important;
}

p {
  max-width: 800px !important;
  margin: 0 auto !important;
  line-height: 28px !important;
  font-size: 18px !important;
  margin-bottom: 32px !important;
  word-break: break-word !important;
}

li {
  margin-left: 36px;
}

h1 {
  font-size: 40px !important;
  line-height: 50px !important;
}

h2 {
  font-size: 32px !important;
  line-height: 42px !important;
}

h3 {
  font-size: 24px !important;
  line-height: 34px !important;
}

h4 {
  font-size: 20px !important;
  line-height: 22px !important;
}

h5 {
  font-size: 16px !important;
  line-height: 26px !important;
}

h6 {
  font-size: 14px !important;
  line-height: 26px !important;
}

p img {
  margin: 0 auto;
  border-radius: 15px;
}

pre {
  padding: 15px;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}

.highlight {
  margin-top: 25px;
}

code {
  height: 0;
}
