<a class="text-center w-full bg-primary-color max-w-[70vw] mx-auto rounded-lg transition-transform duration-500 ease hover:translate-x-5"
    href="{{ .url }}">
    <div class="shadow-lg flex flex-col gap-4 sm:gap-0 sm:flex-row justify-between items-center mx-auto py-4 px-4">
        <img src="/icons/{{ .technology }}.png" alt="{{ .technology }} icon" width="128" height="128" class="w-12" />

        <div class="flex justify-center flex-col">
            <strong> {{ .title }} </strong>
            <time>{{ .date.day }} {{ .date.month }} {{ .date.year }}</time>
            <span class="opacity-50">{{ i18n "estimatedTime" .readTime }}</span>
        </div>

        <i class="fa-solid fa-chevron-right ml-4 pl-auto"></i>
    </div>
</a>