<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

  <meta property="og:site_name" content="Wadev Blog" />
  <meta property="og:title" content="Hey! this is my Blog :-)" />
  <meta property="og:url" content="https://blog.wadev.dev/" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Wadev Blog" />
  <meta name="keywords"
    content="fullstack developer, coding, web development, wadev blog, wadev, blog, waxer59, developer, javascript, go, typescript, waxer59 blog">
  <meta name="author" content="Wadev">
  <meta name="robots" content="index, follow">
  <meta property="og:description" content="Hi!, i'm Wadev and i'm a fullstack developer and this is my blog." />
  <meta name="description" content="Hi!, i'm Wadev and i'm a fullstack developer and this is my blog." />

  {{ $styles := resources.Get "styles/style.css" }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

  {{ $articleStyles := resources.Get "styles/articleStyles.css" }}
  <link rel="stylesheet" href="{{ $articleStyles.RelPermalink }}" />

  {{ $fontAwasome := resources.Get "styles/all.min.css" }}
  <link rel="stylesheet" href="{{ $fontAwasome.RelPermalink }}" />

  <link rel="stylesheet" href="/syntax.css" />

  {{ $search := resources.Get "js/search.js" }}
  <script defer src="{{ $search.RelPermalink }}"></script>
  <script src="https://unpkg.com/flowbite@1.6.1/dist/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css">

  {{ $themeMode := resources.Get "js/themeMode.js" }}
  <script defer src="{{ $themeMode.RelPermalink }}"></script>

  <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico?" />
</head>