<nav
  class="bg-primary-color border-gray-200 px-6 py-4 sm sm:px-4 sm:py-2.5 dark:bg-primary-colorborder-b">
  <div
    class="container flex flex-wrap flex-col gap-4 sm:flex-row items-center justify-between mx-auto">
    <a href="{{.Site.BaseURL}}" class="flex items-center">
      <img
        src="/images/wadevIcon.png"
        class="h-6 mr-3 dark:invert sm:h-9 hover:scale-125 transition-transform duration-500 ease"
        alt="Wadev logo" />
      <span
        class="self-center text-xl font-regular whitespace-nowrap dark:text-white"
        >Wa<strong>dev</strong></span
      >
    </a>
    {{ partial "headerUtils.html" . }}
  </div>
</nav>
