<div class="p-[20px] flex justify-evenly text-center pb-[100px] hidden" id="paginationControlsContainer">
        <a class="transition-transform duration-500 ease hover:-translate-x-5 hidden" id="prev-btn"
                aria-label="previous page btn"><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Prev</a>
        <a class="transition-transform duration-500 ease hover:translate-x-5 hidden" id="next-btn"
                aria-label="next page button">Next&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
</div>