{{ define "main" }}
  {{ $paginator := .Paginator }}
  <main class="mt-8" id="main-content">
    <div class="flex flex-col gap-14">
      <h2 class="text-center">{{ i18n "postsTitle" . }}</h2>
      <div class="flex flex-col gap-11 mb-10 mx-auto max-w-[800px] w-full" id="pageContent">
        {{ range $paginator.Pages }}
        {{- partial "articleLink.html" (dict "url" .Permalink "title" .Title "date" (dict "day" .Date.Day "month" (i18n .Date.Month)
        "year" .Date.Year) "readTime" .ReadingTime "technology" .Params.technology) -}}
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}